
#menu-icon {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: #EDEDED;
    color: #333;
}
.header{
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: #EDEDED transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: #333;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    text-shadow: 1px 1px 1px #D3D3D3;
    text-shadow: 1px 4px 1px #D3D3D3;
    text-shadow: 1px 2px 1px #D3D3D3;
    text-shadow: 1px 3px 1px #D3D3D3;
}

/* .logo:hover{
    transform: scale(1.1);
} */

.logo span{
    text-shadow: 0 0 25px #EDEDED;
    text-shadow: 1px 1px 1px #D3D3D3;
    text-shadow: 1px 4px 1px #D3D3D3;
    text-shadow: 1px 2px 1px #D3D3D3;
    text-shadow: 1px 3px 1px #D3D3D3;
}

.navbar a{
    font-size: 1.8rem;
    color: #333;
    margin-left: 4rem;
    font-weight: bold;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: #414833;
    border-bottom: 3px solid #414833;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    background: url(template.png);
    background-size: cover;

}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span{
    color: #333;
}
.logo span{
    color: #333;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: bold;
    margin-top: 1.5rme;
    line-height: 1;
    transition: 0.3s;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #cdcdcd 0%,
    #3e3e3e 29%,
    #a4a4a4 67%,
    #676767 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 100px;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: transparent;
    font-size: 2.5rem;
    border-radius: 50%;
    color: #333;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a{
    color: #333;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px #333;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid #333 1px;
    display: grid;
    place-items: center;
} 

.social-icons a:hover{
    transform: scale(1.5);
    transition: 0.3s ease-out;
    background-color: #333;
    color: #EDEDED;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #333;
    box-shadow: 0 0 25px #333;
    border-radius: 2px solid transparent;
    font-size: 1.6rem;
    color: #EDEDED;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 50px #414833 ;
    background-color: #414833;
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: #EDEDED;
    color: #333;
    border: 2px solid #333;
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px #333;
    background: #333;
    color: #EDEDED;
}

.heading{
    position: relative;
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.heading {
  position: relative;
}

.education{
    padding: 100px 15px;
    background-color: #EDEDED;
}

.education h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #333;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #333;
    box-shadow: 0 0 25px #333,
                0 0 50px #333;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 6px 0 15px;
}
.timeline-content1{
    background-color: #EDEDED;
    border: 3px solid #333;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #333;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content1:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px red;
    border: 3px solid red;
}

.timeline-content1 img{
    width: 10%;
    height: 10%;
}

.timeline-content1 h3{
    font-size: 20px;
    color: #333;
    margin: 0 0 10px;
    font-weight: bold;
}
.timeline-content1 p{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
.timeline-content2{
    background-color: #EDEDED;
    border: 3px solid #333;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #333;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content2:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px pink;
    border:3px solid blue;

}

.timeline-content2 img{
    width: 10%;
    height: 10%;
}

.timeline-content2 h3{
    font-size: 20px;
    color: #333;
    margin: 0 0 10px;
    font-weight: bold;
}
.timeline-content2 p{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
.timeline-content3{
    background-color: #EDEDED;
    border: 3px solid #333;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #333;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content3:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px skyblue;
    border: 3px solid skyblue;
}

.timeline-content3 img{
    width: 10%;
    height: 10%;
}

.timeline-content3 h3{
    font-size: 20px;
    color: #333;
    margin: 0 0 10px;
    font-weight: bold;
}
.timeline-content3 p{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #bbbbbb;
}
::-webkit-scrollbar-track{
    background-color: #D3D3D3;
    width: 50px;
}

.skill{
    background: #EDEDED;
    color: #333;
}
.skill h2{
    margin-bottom: 5rem;
    color: #333;
}

.skill-container{
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
    align-items: center;
    gap: 2.5rem;
}
.skill-box1{
    background-color: #EDEDED;
    border: 2px solid #333;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.skill-box1:hover{
    background-color: #ededed;
    color: #333;
    border: 2px solid #b83a14;
    box-shadow: 0 0 25px #b83a14;
    transform: scale(1.05);
    transition: 0.3s;
}
.skill-box2{
    background-color: #EDEDED;
    border: 2px solid #333;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.skill-box2:hover{
    background-color: #ededed;
    color: #333;
    border: 2px solid #264de4;
    box-shadow: 0 0 25px #264de4;
    transform: scale(1.03);
    transition: 0.3s;
}
.skill-box1 .skill-info1{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 300px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
    border: solid 2px #333;
    
}
.skill-box2 .skill-info2{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 300px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
    border: solid 2px #333;
    
}
.skill-info1 h4{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
}
.skill-info1:hover h4{
    color: #b83a14;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
}
.skill-info2 h4{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
}
.skill-info2:hover h4{
    color: #264de4;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;
}
.skill-info1 p{
    font-size: 1.6rem;
    font-weight: bold;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
    justify-content: center;
}
.skill-info2 p{
    font-size: 1.6rem;
    font-weight: bold;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
    justify-content: center;
}

.activity{
    background: #EDEDED;
}
.activity-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.activity .heading{
    margin-bottom: 5rem;
}

.activity-box img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 3px solid #333;
    box-shadow: 0 0 25px #333;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.activity-item{
    min-height: 550px;
    max-width: 450px;
    background-color: #ededed;
    border: 3px solid #333;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #333;
    transition: 0.4s ease-in-out;
}

.activity-item:hover{
    border: 3px solid #1E3F5A;
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px #333;
}


@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-item::before{
        left: 7px;
    } 
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .skill{
        padding-bottom: 7rem;
    }

    .activity .wrapper{
        grid-template-columns: repeat(1,1fr);
    }

    .HTML .CSS{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer {
        padding: 2rem 3%;
    }

    /* #menu-icon {
        display: none;
    } */
    
}
@media(max-width:895px){
    #menu-icon{
        display: block;
        font-size: 30px;
    
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: #EDEDED;
        backdrop-filter: blur(20px);
        opacity: 90%;
        transform: scale(1.03);
        transition: 0.5s;
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #EDEDED;
        border-bottom: 2px solid #EDEDED;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #333;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .skill h2{
        margin-bottom: 3rem;
    }
    .skill-container{
        grid-template-columns: repeat(1,1fr);
    }

}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

@keyframes animate {
    
}